body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}

.column {
    float: left;
    width: 30%;
    padding: 30px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}





header {
    background: linear-gradient(to right, #333, #555);
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




footer {
    background: linear-gradient(to right, #333, #555);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Additional Styles for Better Aesthetics */


main {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}


footer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 14px;
}




nav {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }
}