body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 20px;
  background-color: #0e0f13;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #73eaff;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

li:hover {
  background-color: #f9f9f9;
}

.deleteBtn,
.updateBtn {
  background-color: #943524;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}